html, body {
    margin: 0; padding: 0; overflow: hidden;
    background: black;
    display: flex; justify-content: center; align-items: center;
    height: 100vh; width: 100vw;
}

.game-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background: #000;
    border: 3px solid #ffe600;
    box-shadow: 0 0 20px #ffe600;
    max-width: 90vw;
    max-height: 90vh;
}

.hidden {
    display: none !important;
}
#gameOverUI {
    display: none; /* Se activa desde JS */
    position: absolute;
    top: 60%; /* Aparece un poco abajo del texto "GAME OVER" del canvas */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
}